/* Fonts */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 780px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.header__wrapper,
.main-wrapper,
.support-row,
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px); }

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(75% - 30px);
  width: calc(75% - 30px); }
  @media screen and (max-width: 1100px) {
    .content {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.brand {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px); }
  @media screen and (max-width: 780px) {
    .brand {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.account {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(75% - 30px);
  width: calc(75% - 30px); }
  @media screen and (max-width: 780px) {
    .account {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.support__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px); }
  @media screen and (max-width: 780px) {
    .support__block {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.copyright__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px); }
  @media screen and (max-width: 780px) {
    .copyright__block {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

@media screen and (max-width: 1100px) {
  .sidebar {
    display: none; }
  .button-collapse--burger {
    display: block; }
  .account {
    width: 70% !important;
    margin: 0; }
  .container--header {
    padding: 0; }
  .header__wrapper {
    margin: 0; }
  .brand {
    margin: 0;
    width: 30%; } }

@media screen and (max-width: 780px) {
  .account {
    width: 100% !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .brand,
  .info-tabs__h2,
  .tabs--custom {
    width: 100%; }
  .info-tabs__h2,
  .error__p {
    text-align: center; }
  .tab__table {
    overflow: scroll; }
  .table {
    min-width: 780px; } }
