/* Fonts */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 780px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.header__wrapper,
.main-wrapper,
.support-row,
.copyright,
.settings-row,
.exchange-row,
.switches-row,
.dashbord-row,
.workers-row,
.login-row,
.statistic-row,
.contributor-row,
.tansaction-row,
.wallet-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px); }

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(75% - 30px);
  width: calc(75% - 30px); }
  @media screen and (max-width: 1100px) {
    .content {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.brand {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px); }
  @media screen and (max-width: 780px) {
    .brand {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.account {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(75% - 30px);
  width: calc(75% - 30px); }
  @media screen and (max-width: 780px) {
    .account {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.support__block,
.account-details,
.password-settings,
.contributors-block,
.general-statistic,
.pool-details,
.cash-out {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px); }
  @media screen and (max-width: 780px) {
    .support__block,
    .account-details,
    .password-settings,
    .contributors-block,
    .general-statistic,
    .pool-details,
    .cash-out {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.dashboard__info,
.auto-coin-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(41.66667% - 30px);
  width: calc(41.66667% - 30px); }
  @media screen and (max-width: 780px) {
    .dashboard__info,
    .auto-coin-block {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.dashboard__stats,
.transaction-history {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(58.33333% - 30px);
  width: calc(58.33333% - 30px); }
  @media screen and (max-width: 780px) {
    .dashboard__stats,
    .transaction-history {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.copyright__block,
.auto-exchange {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px); }
  @media screen and (max-width: 780px) {
    .copyright__block,
    .auto-exchange {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.availability-exchange {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(66.66667% - 30px);
  width: calc(66.66667% - 30px); }
  @media screen and (max-width: 780px) {
    .availability-exchange {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.auto-switches__insctruction,
.statistic {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px); }

.dashboard-progressbars {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px); }

.add-worker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px); }

.worker-configuration {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(66.66667% - 30px);
  width: calc(66.66667% - 30px); }
  @media screen and (max-width: 780px) {
    .worker-configuration {
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px); } }

.login-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px); }

@media screen and (max-width: 1100px) {
  .sidebar {
    display: none; }
  .button-collapse--burger {
    display: block; }
  .account {
    width: 70% !important;
    margin: 0; }
  .container--header {
    padding: 0; }
  .header__wrapper {
    margin: 0; }
  .brand {
    margin: 0;
    width: 30%; } }

@media screen and (max-width: 780px) {
  .register__input-wrapper {
    width: 100%; }
  .account {
    width: 100% !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .brand,
  .title__h2,
  .tabs--custom,
  .block--account {
    width: 100%; }
  .info-tabs {
    margin-bottom: 0; }
  .copyright__block {
    margin-top: 10px; }
    .copyright__block:first-child {
      margin-top: 30px; }
  .title__h2,
  .error__p,
  .copyright__p,
  .support__p {
    text-align: center; }
  .tab__table,
  .avalib__table-wrapper,
  .switches__table-wrapper,
  .table__wrapper {
    overflow: scroll; }
  .table {
    min-width: 780px; }
  .table--wallet {
    min-width: 100%; }
  .workers__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .worker__input-wrapper {
    width: 100%; } }

@media screen and (max-width: 650px) {
  .login-wrapper {
    padding: 0 50px; }
  .progress__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 560px) {
  .stats__p-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .input--stats {
    margin-top: 20px; }
  .input--register[type=submit] {
    width: 100%; }
  .language__p {
    width: 80px; }
  .login-wrapper {
    padding: 0; }
  .form--login {
    padding: 50px 0; }
  .workers__a-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .workers__submit-wrappr {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
