
	<div class="popup-block" id="speakers-popup">
		<div class="popup-block__overlay">
			<div class="popup-block__popup">
				<div class="inner-content">
					<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
					
					<div class="popup-block__title">Введіть ваші дані , щоб ми вам зателефонували і назначили зустріч:</div>
				
					<form class="popup-block__form">
						<div class="form-row">
							<div class="input-wrapper">
								<input type="text" class="text-input" placeholder="Ім’я та прізвище" required>
							</div>
							
							<div class="input-wrapper">
								<input type="tel" class="text-input" placeholder="Номер телефону" required>
							</div>
							
							<button type="submit" class="btn submit-button">Замовити дзвінок</button>
						</div>
					</form>
					
					<div class="popup-block__or-text">або</div>
					
					<div class="popup-block__caption">Скажіть кого ви б хотіли почути на нашому форумі:</div>
				
					<form class="popup-block__form">
						<div class="form-row">
							<div class="input-wrapper">
								<input type="text" class="text-input" placeholder="Ім’я та прізвище" required>
							</div>
							
							<div class="input-wrapper">
								<input type="text" class="text-input" placeholder="Посилання на facebook" required>
							</div>
							
							<button type="submit" class="btn submit-button">Запропонувати спікера</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup-block" id="investors-popup">
		<div class="popup-block__overlay">
			<div class="popup-block__popup">
				<div class="inner-content">
					<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
					
					<div class="popup-block__title">Введіть ваші дані , щоб ми вам зателефонували і назначили зустріч:</div>
				
					<form class="popup-block__form">
						<div class="form-row">
							<div class="input-wrapper">
								<input type="text" class="text-input" placeholder="Ім’я та прізвище" required>
							</div>
							
							<div class="input-wrapper">
								<input type="tel" class="text-input" placeholder="Номер телефону" required>
							</div>
							
							<button type="submit" class="btn submit-button">Замовити дзвінок</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup-block" id="investors-popup-2">
		<div class="popup-block__overlay">
			<div class="popup-block__popup">
				<div class="inner-content">
					<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
					
					<div class="popup-block__title">Введіть ваші дані , щоб ми вам зателефонували і назначили зустріч:</div>
				
					<form class="popup-block__form">
						<div class="form-row">
							<div class="input-wrapper">
								<input type="text" class="text-input" placeholder="Ім’я та прізвище" required>
							</div>
							
							<div class="input-wrapper">
								<input type="tel" class="text-input" placeholder="Номер телефону" required>
							</div>
							
							<button type="submit" class="btn submit-button">Замовити дзвінок</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup-block" id="subscribe-news-popup">
		<div class="popup-block__overlay">
			<div class="popup-block__popup">
				<div class="inner-content">
					<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
					
					<div class="popup-block__title w100">Підпишись, щоб першим бути вкурсі всіх останніх новин Форуму Новобудов</div>
				
					<form class="popup-block__form">
						<div class="form-row">
							<div class="input-wrapper">
								<input type="email" class="text-input" placeholder="Ваш E-mail" required>
							</div>
							
							<button type="submit" class="btn submit-button">Підписатись на новини</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup-block" id="download-kp-popup">
		<div class="popup-block__overlay">
			<div class="popup-block__popup">
				<div class="inner-content">
					<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
					
					<div class="popup-block__title w100">Вкажіть E-mail, на який вам відправити комерційну пропозицію</div>
				
					<form class="popup-block__form">
						<div class="form-row">
							<div class="input-wrapper">
								<input type="email" class="text-input" placeholder="Ваш E-mail" required>
							</div>
							
							<button type="submit" class="btn submit-button">Відправити</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	






