	
	<div class="top-widget" id="top-widget">
		<a href="javascript:;" id="top-widget-toggle" class="top-widget__toggle">
			<span class="toggle-icon"><img src="img/icons/select-arrow.svg" alt=""></span>
			
			<span class="toggle-capt">Топ-10</span>
		</a>
		
		<div class="top-widget__inner-content">
			<div class="top-widget__list-title">10 учасників, що отримують гарантовані призи</div>
			
			<div class="top-widget__list-subtitle">Щоб дізнатись умови розіграшу, <a href="#register-block" data-toggle="anchor" id="top-widget-register-link">зареєструйтесь</a></div>
			
			<div class="top-widget__list-wrap">
				<ul>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>1</span>
						<span>Лера</span>
						<span>437 чол.</span>
					</li>
					<li>
						<span>8</span>
						<span>Петро</span>
						<span>100 чол.</span>
					</li>
					<li>
						<span>9</span>
						<span>Олександр</span>
						<span>10 чол.</span>
					</li>
					<li>
						<span>10</span>
						<span>Лера</span>
						<span>0 чол.</span>
					</li>
				</ul>
			</div>
			
			<div class="top-widget__bottom-form">
				<div class="form-caption" id="form-caption-top">Введіть свій номер телефону, щоб взнати кількість приведених людей:</div>
				
				<form>
					<div class="input-wrapper">
						<input type="tel" class="text-input" placeholder="Ваш телефон" required>
					</div>
					
					<div class="small-caption">в ТОП потрапляють учасники, що зареєстрували мінімум 3 друзів</div>
					
					<button type="submit" class="btn submit-button" id="form-caption-button">Дізнатись результат</button>
				</form>
			</div>
		</div>
	</div>
	
	
	
	
	
	