.section--equipment
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center

  .uk-container
    width: 100%

.uk-active
	background-color: #f7f7f7

.homepage-button-tab
  padding: 10px 20px
  margin-right: $gutter
  border: 1px solid #e6e6e6
  border-bottom: none

.homepage-button-tab.uk-active
  border-color: transparent

.uk-tab > .uk-active > a
  border-color: #f7f7f7 !important
  text-align: left
  font-family: $cyr
  font-size: 0.9375rem
  font-weight: bold
  color: #292929
  border: none !important

.uk-tab
  margin-left: 0px !important

  a
    text-align: left
    font-family: $hr
    font-size: 0.9375rem
    font-weight: lighter
    color: #8f8f8f

.no-margin-bottom
  margin-bottom: 0px !important

.uk-tab::before
  border-bottom: 0px

.equip-switch
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.switch-head
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px

.switch-head--rest
  background-image: url('../img/popular/rest-bg.png')
  background-position: right
  background-size: cover

.switch__table
  max-height: 410px
  min-height: 410px
  background-color: #fff
  margin-bottom: 0

.carousel-item__wrapper
  grid-template-columns: 30% 70%
  padding: 20px 80px 0 80px

.switch__ul
  list-style: none
  padding: 0
  border: 1px solid #e6e6e6
  display: grid
  grid-template-columns: 25% 30% 45%
  min-width: 777px

  .switch__li
    &:last-child
      .switch__list
        li
          border-right: none

    &:nth-child(2)
      .switch__list
        .switch__first,
        .switch__second,
        .switch__third
          p
            text-align: center
            font-weight: 700

    &:nth-child(3)
      .switch__list
        .switch__first,
        .switch__second,
        .switch__third
          p
            text-align: center
            font-weight: 400
            color: #545454
            font-family: $cyr

    &:nth-child(4)
      .switch__list

        .switch__first
          display: -webkit-flex
          display: -ms-flex
          display: flex
          align-items: center
          justify-content: center
          height: 100%

.switch__icon-wrapper
  height: 27px
  width: 27px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center

  img
    width: auto
    height: auto

.switch__marked-list
  list-style: none

  li
    padding: 0 !important
    position: relative
    margin-bottom: 20px

    &:last-child
      margin-bottom: 0

    &::after
      content: '■'
      position: absolute
      top: 5px
      color: $accent
      left: -20px
      font-size: .5rem

    p
      max-width: 250px
      color: #545454
      font-size: 0.9rem !important
      font-weight: lighter

      strong
        color: #333333
        font-weight: bold

.switch__li
  display: -webkit-flex
  display: -ms-flex
  display: flex

.switch__list
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  padding: 0
  list-style: none
  width: 100%

  li
    padding: 12px 20px
    border-right: 1px solid #fff

    p
      margin: 0
      font-family: $cyr
      font-size: 1.0625rem

    strong
      color: $accent

.switch__first
  background-color: #fff

.switch__second
  background-color: #f0f0f0

.switch__third
  background-color: #f6e1e4

.switch__ul-head-item
  display: -webkit-flex
  display: -ms-flex
  display: flex
  background-color: #161a20
  padding: 15px
  align-items: center

  &:last-child
    border-right: none

.switch__ul-head-ico
  float: left
  width: auto
  height: 100%

.switch__ul-head-h2
  margin: 0 0 0 13px
  font-size: 0.8375rem
  text-transform: uppercase
  color: #fff
  font-weight: 700
  font-family: $cyr

.page__heading--equip
  color: $color
  font-size: 1.875rem

.equip__h4
  color: $accent
  font-family: $hr
  text-transform: uppercase
  font-size: 0.9375rem
  letter-spacing: 0.6px
  margin: 10px 0 0 0

.equip-right
  grid-template-columns: 1fr 1fr
  grid-gap: 15px

.link-button--rent,
.link-button--buy
  padding-left: 60px
  position: relative
  float: left

  &::after
    content: ''
    position: absolute
    left: 20px
    height: 28px
    width: 28px
    background-repeat: no-repeat

.link-button--rent
  &::after
    background-image: url('../img/icons/calendar.png')

.link-button--buy
  background-color: $dark-grey
  transition: background-color .5s

  &:hover
    background-color: lighten($dark-grey, 20%)

  &::after
    background-image: url('../img/icons/cart.png')

.page__heading-desc
  font-family: $h
  font-size: 1.1875rem
  color: $text
  margin: 5px 0 0 0
  text-align: center

.equip-carousel
  background-color: $white
  border: 1px solid #e6e6e6
  border-top: none
  width: 100%

  .item
    width: 100%
    padding: 15px 0
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: center

  img
    width: 100%
    max-width: 700px
    height: auto

.owl-stage-outer
  width: 100%

.equip-carousel-wrapper
  position: relative
  width: 100%
  float: left

.equip-switch
  float: left
  width: 100%

.left,
.right
  position: absolute
  top: 50%
  z-index: 5
  transform: translate(0%, -50%)
  cursor: pointer

  svg
    transition: fill .5s

  &:hover
    svg
      fill: $accent

.left
  left: 0

.right
  right: 0

.switcher-coffe
  list-style: none
  padding-left: 0
  display: -webkit-flex
  display: -ms-flex
  display: flex

  a
    text-transform: uppercase
    font-family: $cyr
    color: #8f8f8f

    &:hover
      text-decoration: none

.homepage-button-tab
  padding: 15px 20px

.homepage-button-tab.uk-active
  a
    color: $accent

.carousel-table__h2
  font-family: $cyr
  font-size: 1.375rem
  font-weight: 700

.office__ico-wrapper
  width: 29px
  max-width: 29px
  min-width: 29px

  img
    object-fit: contain
    width: 100%

.office__item
  display: -webkit-flex
  display: -ms-flex
  display: flex

  h4
    color: #333333
    font-weight: bold
    font-size: 1rem

  p
    color: #545454

  h4,
  p
    font-family: $cyr
    margin: 0

  .office__content-wrapper
    margin-left: 15px

.office__country
  grid-template-columns: 20% 40% 40%
  grid-gap: 30px

.section-rent
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center

  .uk-container
    position: relative
    width: 85%

.rent-carousel
  margin-top: 30px

.rent-carousel-item
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  img
    width: 80% !important

  .equip-right
    margin-top: 50px

.page__heading-desc--rent
  font-weight: bold
  margin-top: 15px
