/* Fonts */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400,600");
@font-face {
  font-family: "BigJohn";
  src: url("../fonts/big/BIG JOHN.otf"); }

/* Main styles */
section {
  padding: 100px 0; }

h1,
h2,
h3,
h4 {
  color: #fffdf2;
  font-family: "BigJohn", sans-serif;
  text-transform: uppercase;
  font-size: 4em; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em; }

.parallax--img-overlay {
  background: rgba(0, 0, 0, 0.36);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 200; }

/* Header */
.header-nav {
  display: -ms-flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-wrapper--custom {
  width: 90%; }

.header-nav__ul li {
  text-transform: uppercase; }

/* Burger */
.button-collapse--burger {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burger {
  display: -ms-flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px; }
  .burger .burger__line {
    background: #fff;
    height: 1px;
    width: 100%; }

/* Take control section */
.take-control {
  background: #D3D4D9;
  padding: 0; }

.parallax-container {
  position: relative;
  z-index: 10; }

.container--take {
  display: -ms-flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.title-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 70%; }

.title-info__h1,
.title-info__h2 {
  text-align: right; }

.title-info__h2 {
  width: 100%; }

/* Need */
.box {
  height: 2000px; }
