.section--info
  position: relative
  z-index: 6

.info__content-wrapper
  position: relative
  width: 100%
  height: auto
  float: left

.info__content
  position: absolute
  top: 20%
  left: 0
  padding: 0 10%
  width: calc(100% - 20%)
  z-index: 10

// Bullits

.three-lines
  float: left
  width: 100%
  grid-template-columns: repeat(3, 1fr)
  margin: 50px 0

.info__bullit
  padding-top: 30px
  position: relative
  float: left

  &:before
    transform: rotate(-90deg)
    position: absolute
    top: 0
    width: auto
    padding-left: 7px
    border-left: 1px solid $accentBg

  &:nth-child(1)
    &::before
      content: '01'

  &:nth-child(2)
    &::before
      content: '02'

  &:nth-child(3)
    &::before
      content: '03'

.info__bullit-p
  margin-left: 30px
