::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text

	*
		font-family: $default-font !important

	input, textarea
		border: #666 1px solid
		outline: none
		// &:focus:invalid
		// 	box-shadow: 0 5px 8px rgb(198, 103, 48) !important
		&:focus:invalid
			border: 1px solid rgb(198, 103, 48) !important
		&:required:valid
			border-color: green

b, strong
	font-weight: bold

.grid
	display: grid

.h1,
h1,
.uk-h1
	font-size: 3.2rem
	font-weight: 900
	color: $white

.h2,
h2,
.uk-h2
	font-weight: bold
	text-align: center
	font-size: 2.4rem

.h3,
h3,
.uk-h3
	font-size: 2rem

.h5,
h5,
.uk-h5
	margin: 0
	font-size: 1.1rem

p
	color: $blue
	font-size: 1.5rem
	margin-top: 30px

.green-bg
	background-color: $accent !important
	color: $white !important

	&:hover
		background-color: darken($accent, 10%) !important

a,
a:focus,
a:visited,
a:active,
a:active
button,
button:focus,
button:visited,
button:active,
button:active
	text-decoration: none !important
	outline: none !important

// Notification

.uk-notification-message-primary
	background-color: darken(#fdb19f, 10%)
	border-right: 5px solid darken(#fdb19f, 20%)
	font-family: $default-font
	text-transform: uppercase
	font-weight: bold
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-items: center
	font-size: 2rem

	div
		display: -webkit-flex
		display: -ms-flex
		display: flex
		align-items: center

	svg
		path
			fill: $white !important

	p
		font-size: 1rem
		margin: 0
		margin-left: 30px
		color: $white

.uk-notification-close
	top: auto
	color: $white

	&:hover,
	&:focus,
	&:active
		color: $white
