body
  // background-color: $accent
  background-color: lighten($accent, 10%)
  min-height: 100vh

.title
  font-size: 2rem
  text-align: center
  margin-bottom: 50px
  color: $milk
  animation-duration: 1s
  animation-delay: .5s
  opacity: 0

.logo
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  margin: 100px 0
  animation-duration: 1s
  opacity: 0

  img
    max-height: 250px
    border-radius: 100%

.payorno
  width: 100%
  padding: 0
  display: grid
  grid-template-columns: repeat(2, calc(50% - 25px))
  grid-gap: 50px
  margin: 0 !important

  li
    display: -webkit-flex
    display: -ms-flex
    display: flex
    padding: 0
    animation-duration: 1s
    animation-delay: 1s

    a
      border-radius: 8px
      width: 100%
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      float: left
      padding: 15px 0 !important
      transition: all .5s !important
      color: $milk !important
      font-weight: bold
      border: 2px solid $milk

      &:hover
        border: 2px solid $milk
        background-color: $milk !important
        color: $target !important

    &.uk-active
      a
        background-color: $target !important
        border-color: $target

        &:hover
          color: $milk !important
          background-color: darken($target,5%) !important

// Season swiatcher

.season__switcher
  float: left
  width: 100%
  animation-duration: 1s
  animation-delay: 1.3s

  li
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column

  .uk-subnav,
  .uk-switcher
    width: 100%

  .uk-subnav
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr))
    margin: 0 !important
    grid-gap: 20px

    li
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: center
      align-items: center
      padding: 0

      &.uk-active
        a
          background-color: $target
          color: $milk

          &:hover
            background-color: $target
            color: $milk

      a
        padding: 10px 0
        border-radius: 8px
        background-color: $milk
        width: 100%
        text-align: center
        color: $target
        font-weight: bold
        letter-spacing: .5px
        transition: all .5s

        &:hover
          background-color: darken($milk, 3%)
          color: $target

// Cards

.cards__list
  padding-left: 0
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  flex-direction: column-reverse

  li
    width: 100%


.bet-number
  position: absolute
  right: 50px
  top: 50%
  transform: translate(0, -50%)

  h2
    color: $milk
    font-size: 3.5rem
    margin: 0
    font-weight: bold

.card
  border-radius: 8px
  overflow: hidden
  transition: all .5s
  margin-bottom: 50px
  display: grid !important
  grid-template-columns: repeat(auto-fill, calc(50% - 20px))
  grid-gap: 20px
  animation-duration: 1s
  animation-delay: .5s
  opacity: 0

  &::before
    display: none

  h3
    margin: 0
    color: $white

  &.success
    background-color: $green
    position: relative

    &:hover
      background-color: darken($green, 5%)

    &::before
      display: block !important
      position: absolute
      content: ''
      left: 0
      top: 0
      width: 10px
      height: 100%
      background-color: darken($green, 15%)
      z-index: 3

    &::after
      font-family: "Font Awesome 5 Free"
      font-weight: 900
      content: "\f00c"
      font-size: 23rem
      position: absolute
      top: -220px
      z-index: 1
      left: -50px
      color: darken($green, 10%)

    .bet-number
      h2
        color: darken($green, 10%)

  &.unsuccess
    background-color: $red
    position: relative

    &:hover
      background-color: darken($red, 5%)

    &::before
      display: block !important
      position: absolute
      content: ''
      left: 0
      top: 0
      width: 10px
      height: 100%
      background-color: darken($red, 15%)
      z-index: 3

    &::after
      font-family: "Font Awesome 5 Free"
      font-weight: 900
      content: "\f00d"
      font-size: 25rem
      position: absolute
      top: -220px
      z-index: 1
      left: -50px
      color: darken($red, 10%)

    .bet-number
      h2
        color: darken($red, 15%)

.game-name
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.card__content
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  position: relative
  z-index: 2
  color: $white

  i
    font-size: 2rem
    margin-right: 20px

// Stats

.stats
  display: grid
  width: 100%
  margin: 25px 0
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 15px), 1fr))
  grid-gap: 15px

.stat
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center

  h4
    color: $milk
    margin: 0 0 0 10px

  i
    color: $target

// Telegram

.telegram
  position: fixed
  right: 0
  top: 50%
  transform: translate(0, calc(50% - 60px))
  height: 60px
  width: 70px
  // background-color: $target
  background-color: #74b0ce
  border-radius: 8px 0 0 8px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  z-index: 5

.telegram-icon__wrapper
  height: 40px
  width: 40px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  border-radius: 100%

  i
    font-size: 3rem
    // color: lighten($accent, 30%)
    color: $white
    transition: all .5s

  &:hover
    i
      color: darken($white, 10%)

// Copyright

.copyright
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  float: left
  width: 100%
  opacity: 0
  animation-duration: 1s
  animation-delay: .5s

  p
    color: $milk

  a
    color: $target
    padding-bottom: 5px
    border-bottom: dashed 1px
    transition: all .5s

    &:hover
      border-bottom: dashed 1px transparent

  strong
    color: $target
