// Brand section ( first section )
@import "homePage/brandSection"

// Verity section ( second section )
@import "homePage/veritySection"

// Info section ( third section )
@import "homePage/infoSection"

// Contacts section ( fourth section )
@import "homePage/contactSection"


#test
    width: 100%
    height: 200px
    background-color: red
