// Main logo
.contacts__logo,
.brand__logo,
.header__logo,
.form__logo
  .a
    fill: #fff

  .b
    fill: #fff

  .c
    fill: none
    stroke: #fff
    stroke-miterlimit: 10
    stroke-width: 0.5px
