@media only screen and (max-width : 1367px)

	html
		font-size: 14px

	.owl-dots
		display: none

	.header-carousel
		.item
			.uk-container
				h2
					font-size: 3.5rem
					max-width: 540px
					line-height: 47px

	.pacets-list
		margin-top: 40px

	.section--proposition
		background-position: -300px -100px

	footer
		padding: 50px 0 0 0

	.contact-avatar
		.uk-border-circle
			height: 150px
			width: 150px

	.popular-item img
		height: 220px

	.propositions-grid
		margin-top: 30px

@media only screen and (max-width : 1200px)
	header
    .number
      margin-right: 30px

@media only screen and (max-width : 960px)
	/**/

@media only screen and (max-width : 640px)
	/**/

@media only screen and (max-width : 480px)
	/**/

@media only screen and (max-width : 320px)
  /**/
