.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 20px

.header
  background-color: $accent
  transition: background-color .5s

  &:hover
    background-color: darken($accent, 1%)

.header-wrapper
  grid-template-columns: 50% 50%

.logo
  a
    height: 100%
    width: 100%
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: flex-end

    img
      width: 100%
      max-width: 220px
      height: auto
      object-fit: contain

.man
  display: -webkit-flex
  display: -ms-flex
  display: flex
  margin-top: 10px

  img
    height: 100%
    min-height: 100px

// Content section

.content-section
  height: calc(100vh - 110px)
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.content__h1
  max-width: 700px
  color: $text
  font-family: 'Calibri'
  font-size: 2rem
  font-weight: 400
  line-height: 2.4rem
  text-align: center
  letter-spacing: 0.25px
  margin: 0 20px 50px 20px

.content__button
  color: $white
  font-size: 2rem
  font-weight: bold
  padding: 20px 50px
  padding-left: 90px
  border-radius: 100px
  background-color: $accent
  transition: background-color .5s
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  position: relative
  margin: 0 20px

  &:hover
    background-color: darken($accent, 5%)

    &::before
      left: 60px

  &::before
    content: '>>'
    position: absolute
    top: 50%
    left: 70px
    transform: translate(-50%, -50%)
    transition: .5s
