.product-page
  width: 100%
  float: left
  background-color: #000

  .onepage-pagination
    display: none

.product-section
  position: relative

.product-content
  position: absolute
  z-index: 50
  width: 100%
  height: 100%
  left: 0
  top: 0
  float: left

.new-header
  background-color: transparent
  height: 70px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center

  .uk-navbar-left,
  .uk-navbar-right
    position: relative

  .product-logo
    height: 90px
    width: 68px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: center
    float: left

  .uk-container
    width: 100%
    display: -webkit-flex
    display: -ms-flex
    display: flex
    position: relative
    height: 100%

.new-header.sticky
  height: 90px
  background-color: #000

  .product-logo
    height: 90px

.product__wrapper
  position: relative
  z-index: 50
  height: 100vh
  min-height: 800px
  width: 100%
  background-color: rgba(#000000, 0.31)

  .uk-container
    height: 100%

.video-bg-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  min-height: 800px
  overflow: hidden

.product-phone-wrapper
  list-style: none
  display: -webkit-flex
  display: -ms-flex
  display: flex
  margin: 0
  padding: 0

  li
    position: relative
    padding: 0 20px

    &:last-child
      &::before
        display: none

    &::before
      content: "|"
      position: absolute
      right: 0
      color: $accent

    a
      color: #fff
      text-decoration: none
      font-family: $cyr
      font-size: 0.9375rem
      font-weight: bold

      &:hover
        color: #ccc

.product-phone-wrapper--menu
  margin-left: 0

  li
    a
      text-transform: uppercase
      font-size: 0.8125rem
      font-family: $hr
      letter-spacing: 0.26px
      font-weight: 400

.product-header-buttons
  grid-template-columns: 1fr 1fr
  grid-gap: 15px
  margin-left: 20px

.link-button--pdf
  font-size: 0.75rem
  padding-right: 10px

  &::after
    top: 50%
    transform: translate(0, -40%)
    background-image: url('../img/productPage/productIcons/pdf.png')

.link-button--download
  padding-right: 10px
  background-color: #fff
  color: #1b2237
  font-size: 0.75rem

  &:hover
    background-color: #ccc
    color: #1b2237

  &::after
    top: 50%
    transform: translate(0, -40%)
    background-image: url('../img/productPage/productIcons/download.png')

.coffee-burger--product
  margin-left: 0
  margin-right: 30px

.product-first-block-content
  width: 100%
  height: 100%
  z-index: 50
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  .uk-container
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    align-items: center

.page__heading--product
  font-size: 3.75rem
  color: #fff
  max-width: 930px
  line-height: 60px
  text-align: center

.product-desc
  font-family: $cond
  color: #fff
  font-size: 1.875rem
  font-weight: 400
  left: 28px
  margin: 50px 0 0 0
  text-align: center

.product-services
  justify-content: center
  width: 100%
  grid-template-columns: repeat(auto-fill, minmax(150px, 215px))
  grid-gap: 30px
  margin-top: 30px

.product-services__item
  background-color: #10121c
  opacity: 0.9
  padding: 20px
  height: calc(215px - 40px)
  transition: transform .5s

  &:hover
    transform: scale(1.03)

.product-item__ico
  height: 40px
  width: 40px
  display: -webkit-flex
  display: -ms-flex
  margin: 0 auto
  margin-top: 10px
  display: flex
  align-items: center
  justify-content: center

.product-item__p
  font-family: $hr
  font-weight: 400
  font-size: 1rem
  line-height: 24px
  color: #fff
  text-align: center
  margin: 15px 0 0 0

.product-section--second
  background-color: #090a11
  padding: 100px 0
  width: 100%

.page__heading--product-h2
  color: #f4f4f4
  font-size: 2.5rem
  font-family: $cond
  font-weight: 400
  line-height: 43px
  max-width: 900px
  text-align: center

.product-content__second
  display: -webkit-flex
  display: -ms-flex
  display: flex
  width: 100%
  justify-content: center
  flex-direction: column
  align-items: center

.product-if-wrapper
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  grid-gap: 60px
  margin: 50px 0

.product-if__item
  display: -webkit-flex
  display: -ms-flex
  display: flex

  &:hover
    .if-item__img
      opacity: 1
      transform: scale(1.05)

.if-item__img
  min-width: 42px
  opacity: .9
  transition: .5s

.if-item__p-wrapper
  margin-left: 15px

  p
    color: #fff
    font-family: $hr
    font-size: 1.125rem
    font-weight: 400
    line-height: 28px

.product-if__description
  color: #d3d3d3
  font-family: $hr
  font-size: 1.0625rem
  font-weight: lighter
  line-height: 28px
  text-align: center
  max-width: 905px

  strong
    font-weight: 700

.product-buttons-wrapper
  grid-template-columns: auto auto
  grid-gap: 20px

.product-button
  background-color: $accent
  padding: 15px 25px
  color: #fff
  text-transform: uppercase
  font-size: 0.8125rem
  text-align: center
  transition: background-color .5s, color .5s

  &:hover
    color: #ccc
    background-color: darken($accent, 10%)
    text-decoration: none

.product-button--white
  background-color: #fff
  opacity: 0.9
  color: #090a11

  &:hover
    background-color: #ccc
    color: #090a11

.product-section--third
  background-attachment: fixed

.product-section--third,
.product-section--fourth,
.section--contacts--product
  width: 100%
  float: left
  background-image: url('../img/productPage/coffee_image.png')
  padding: 150px 0
  background-size: auto 115%
  background-repeat: no-repeat

.section--contacts--product
  background-image: url('../img/productPage/2-layers.png')
  background-size: cover

.product-section--fourth
  background-image: url('../img/productPage/fourth.png')
  padding: 200px 0

.product__half-grid
  grid-template-columns: 50% 50%
  overflow: hidden

.product__first-half,
.product__second-half
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

  .page__heading--product-h2
    text-align: left
    max-width: 650px

.product__what-is
  margin: 30px 0
  grid-template-columns: 110px auto
  grid-gap: 25px

.product__first-half
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: flex-end

  .page__heading--product-h2
    max-width: 700px
    line-height: 43px

.product__what-img
  display: -webkit-flex
  display: -ms-flex
  display: flex
  height: 110px
  width: 110px
  min-width: 110px
  align-items: center
  justify-content: center

  &:hover
    img
      opacity: 1

  img
    opacity: .8
    transition: .5s

.product__half-grid
  p
    text-align: left
    max-width: 600px
    margin: 0
    line-height: 24px

.product-desc--what
  margin: 0
  text-align: left

.product__list
  list-style: none
  padding: 0

  li
    position: relative
    padding-left: 30px
    margin: 5px 0

    &::after
      content: '■'
      color: $accent
      position: absolute
      top: 0
      left: 0

    p
      color: #d3d3d3
      font-size: 1.125rem
      font-family: $hr
      line-height: 28px

      strong
        color: #fff

.what-button-wrapper
  margin-top: 20px

.product__list--big
  li
    padding-left: 40px
    margin: 30px 0

    &::after
      font-size: 1.2rem

.section--contacts--product
  *
    color: #fff

  .contact-block
    background-color: #090a11

  .contact__p
    color: #d3d3d3

  .page__heading-desc
    margin-top: 30px
    font-family: $hr
    color: #d3d3d3
    line-height: 30px

  .footer__address
    a
      color: #fff

      &:hover
        color: #ccc

.modal-product
  .modal-wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .product-button
    max-width: 300px
    width: 150px

  .modal-input
    width: calc(100% - 40px)

  .page__heading
    font-size: 2.5rem
    max-width: 400px

  .modal-form
    justify-items: center

  .modal-close--product
    position: absolute
    top: -25px
    right: 0
    font-size: 1.5rem
    color: #fff

.prdoduct-modal-video
  video
    max-width: 700px

  .modal-close--product
    right: 20px

.offcanvas-product-wrapper
  display: grid
  grid-gap: 20px

  .link-button--download
    color: #1b2237

    &:hover
      color: #1b2237

.product-section--thanks
  background-image: url('../img/productPage/coffee__right.png')

  .product-first-block-content
    align-items: flex-start

  .thanks-content
    align-items: flex-start

    p
      text-align: left
      margin-top: 10px
