.burger
  background-color: transparent
  height: 50px
  width: 50px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: flex-start
  flex-direction: column
  justify-content: center
  cursor: pointer

  &:hover
    .burger-line
      &:last-child
        width: 55%

.burger-line
  height: 1px
  background: $text
  width: 55%
  margin: 5px 0
  transition: width .5s

  &:last-child
    width: 30%
