$default-font: 'Montserrat', sans-serif
$accent: #85c83b
$white: white
$green: #4caf50
$text: #333
$accentBg: #121212
$gutter: 30px

// Figures

$smallFigures: white
$mediumFigures: #ff4d4d

// Offcanvas angle size
$angleSize: 200px
