$default-font: "Helvetica Neue Cyr", sans-serif

$cyr: "Helvetica Neue Cyr", sans-serif
$cond: "Helvetica-Neue-Condensed", sans-serif
$hl: "Helvetica-Light", sans-serif
$mt: "Mistral", sans-serif
$accent: #e42329
$accentD: #e72027
$white: white
$viber: #7c59eb
$telegram: #259cd8
$facebook: #0084ff
$light-grey: #f6f6f6
$dark-grey: #0d0f17
$text: #333
$gutter: 30px
