$default-font: "roboto-example", sans-serif
$didot: "Didot", sans-serif
$theano: "Theano", sans-serif
$os: "Open Sans", sans-serif
$os-c: "Open Sans Condensed", sans-serif

$accent: #0f33a3
$text: #333
$text-grey: #a0a1a1
$heading-c: #101f43
$grey: #cacbcb
$light-grey: #f5f6f6
$yellow: #edde34
$gutter: 30px
