
.program
  background: #e8e8e8

.second-quote
  box-sizing: border-box

.progress__h3--time
  padding: 0

.program__cv
  display: -webkit-flex
  display: -ms-flex
  display: flex
  width: 80%
  background: #fff
  align-items: center
  padding: 20px

// Photo

.program__img
  border-radius: 100px

// Name

.program__name
  text-transform: capitalize
  font-size: 24px
  margin: 0
  margin-bottom: 10px

// Desc

.program__p
  font-size: 12px

.program__name-wrapper
  margin-left: 20px
  position: relative

// Time

.progress__h3
  font-size: 25px
  margin: 0

.quote
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 30px
  background: #f6f6f6
  width: 80%

  .quote__img
    margin-bottom: 10px

  .program__p
    width: 80%
    text-align: center

.quote-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  width: 100%
  
.second-quote,
.first-quote
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-wrap: wrap

.program__time
  width: 20%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  border-right: 1px solid $accent

.program__time--right
  border-left: 1px solid $accent
  border-right: none
  position: relative

  &::before
    content: ""
    height: 2px
    width: 100%
    top: 50%
    left: 0
    transform: translate(0%, -50%)
    background: $accent

  &::after
    content: ""
    height: 14px
    width: 14px
    background: $accent
    position: absolute
    left: -7px
    top: 50%
    border-radius: 100px
    transform: translate(0%, -50%)

.program__time--left
  border-right: 1px solid $accent
  border-left: none
  position: relative

  &::before
    content: ""
    height: 2px
    width: 100%
    top: 50%
    right: 0
    transform: translate(0%, -50%)
    background: $accent

  &::after
    content: ""
    height: 14px
    width: 14px
    background: $accent
    position: absolute
    right: -7px
    top: 50%
    border-radius: 100px
    transform: translate(0%, -50%)

.program__time--right-number
  border-right: none
  border-left: 1px solid $accent
