.section--contacts
  height: 500px
  width: 100%

  .background-lines
    .background__line
      box-shadow: none
      border-color: #000

      &:nth-child(3)
        border-left: 1px solid #000

.info__content--light
  .sub-title,
  .main-title
    color: $white

  .sub-title
    &::before
      background-color: $white

.contact-form,
.contact-presentation
  padding: 30px 0
  opacity: 0

.info__content--contact
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.contact__a
  color: $white
  position: relative
  display: block
  text-transform: uppercase
  font-weight: bold
  padding: 10px 0

  &:hover
    color: $white

    &::before
      bottom: 5px
      width: 50%

    &::after
      bottom: 5px
      width: 50%

  &::before
    content: ''
    position: absolute
    height: 2px
    background-color: $white
    width: 90%
    left: 0
    bottom: 10px
    transition: all .5s
    z-index: 2

  &::after
    content: ''
    position: absolute
    height: 2px
    background-color: lighten($accentBg, 20%)
    width: 100%
    left: 0
    bottom: 10px
    transition: all .5s

// Form

.form-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 50

.contacts-modal
  .uk-modal-dialog
    height: 100%
    background-color: $accentBg

.form__logo-wrapper
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center

  svg
    max-width: 150px

.form
  display: -webkit-flex
  display: -ms-flex
  display: flex
  height: 100vh
  width: 70%
  justify-content: center
  align-items: center
  flex-direction: column
  margin: 0 auto
  position: relative

.form__inputs-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  width: 100%

.form__input
  padding: 20px 20px 20px 15%
  background-color: transparent
  box-shadow: none
  border: none
  color: #fff
  text-transform: uppercase
  font-weight: bold
  border-bottom: 2px solid #fff
  position: relative
  font-size: 1.2rem

  .form__input
    &.done + label
      border-color: green

  &::before
    content: ''
    position: absolute
    height: 2px
    width: 150px
    bottom: 0
    background-color: #333

  &:focus + label
    border-bottom: 2px solid #333
    width: 15%

.form__input-item
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  position: relative
  margin: 15px 0

.form__label
  color: $white
  position: absolute
  top: 50%
  left: 0
  font-weight: bold
  transform: translate(0, -50%)
  border-bottom: 2px solid #fff
  padding: 18px 0 18px 0
  z-index: 3
  width: 20%
  transition: .5s

.form__input-item--textarea
  position: relative

.form__label--textarea
  position: absolute
  bottom: 0
  top: auto
  z-index: 5
  transform: none

.form__textarea
  background-color: transparent
  border: none
  color: #fff
  border-bottom: 2px solid #fff
  padding: 20px 20px 20px 15%
  resize: none
  text-transform: uppercase
  font-weight: bold
  font-size: 1.2rem
  height: 100px

  &:focus + label
    border-bottom: 2px solid #333
    width: 15%

.modal-close-button
  background-color: transparent
  transition: .5s

// Add button

.half__block
  width: 100%
  float: left
  grid-template-columns: 1fr 1fr
  margin: 30px 0

.uk-tooltip
  text-transform: uppercase
  font-weight: bold

.submit__wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: flex-end
  position: relative
  align-items: center

.verity__more-button--contacts
  opacity: 1
  position: static
  transform: none
  border: 2px solid #fff
  padding: 13px 20px
  font-size: 1.2rem
  cursor: pointer
  border-radius: 10px

  &:hover
    border-color: rgba(#fff, .3)

  &:disabled
    animation: none
    background: #fff
    -webkit-background-clip: text
    opacity: .6
    border-color: transparent
    cursor: not-allowed

.add-file
  max-width: 50px

.add-file-icon
  fill: #fff

.js-upload
  transition: .5s

  &:hover
    opacity: .8

// Contacts address

.rolling-button--address
  font-size: 1rem

.contact__address
  position: absolute
  bottom: 0
  color: $white
  font-size: 1.1rem
  margin: 0 0 0 3px
  transition: .5s
  display: block

  .three-lines
    grid-template-columns: 1fr 2fr

.contact__social-list
  list-style: none
  padding: 0
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  position: absolute
  right: 5%
  bottom: 20%
  opacity: 0

.contact__social-item
  margin: 10px 0
  padding: 0

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

.rolling-button--social
  font-size: 1.5rem
  height: 40px
  width: 50px

  .roll-hover-btn__label
    justify-content: center
