.news-item {
	width: 100%;
	position: relative;
	
	&__arrow {
		position: absolute;
		top: 50%;
		width: 38px;
		height: 76px;
		
		opacity: 0.7;
		
		margin-top: -38px;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			
			backface-visibility: hidden;
		}
		
		&.prev {
			left: 0;
		}
		
		&.next {
			right: 0;
			transform: rotate(180deg);
		}
	}
	
	&__top {
		position: relative;
		overflow: hidden;
		width: 100%;
		background-color: @brand-color;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		
		background-color: #000;
		color: #fff;
		
		.container {
			display: block;
			position: relative;
			z-index: 3;
			height: 100%;
		}
	}
	
	&__bg-img {
		display: block;
		width: 100%;
		height: 100%;
		
		
		
		z-index: 1;
		
		position: absolute;
		top: 0;
		left: 0;
		
		opacity: 0.3;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			
			object-fit: cover;
			object-position: 50% 50%;
			
			backface-visibility: hidden;
		}
	}
	
	&__top-nav {
		display: block;
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			
			li {
				a {
					text-decoration: none;
					font-weight: 100;
					font-size: 18px;
					color: #fff;
					
					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
				
			}
		}
	}
	
	&__top-info {
		.type-block {
			display: inline-block;
			background-color: @brand-color;
			height: 30px;
			min-width: 80px;
			color: #fff;
			padding-left: 20px;
			padding-right: 20px;
			
			border-radius: 3px;
			
			text-align: center;
			line-height: 30px;
			white-space: nowrap;
			
			font-size: 18px;
			
			margin-bottom: 15px;
		}
	}
	
	&__name {
		font-size: 36px;
		line-height: 48px;
		font-weight: 400;
		color: #fff;
		max-width: 700px;
		
		margin-bottom: 15px;
	}
	
	&__bottom-info {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		
		font-weight: 100;
		color: #fff;
		font-size: 18px;
		
		.time {
			margin-right: 20px;
			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			
		
			
			.clock-item {
				width: 24px;
				height: 24px;
				
				margin-right: 10px;
				flex-shrink: 0;
				
				
				img {
					display: block;
					width: 100%;
					height: 100%;
					
					backface-visibility: hidden;
				}
			}
		}
	}
	
	
	&__content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		
		padding-top: 50px;
		padding-bottom: 55px;
	}

	&__left-content {
		width: 100%;
		
		font-size: 18px;
		line-height: 27px;
		color: #000;
		font-weight: 400;
		
		margin-bottom: 40px;
		
		p {
			margin-bottom: 0;
			
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	
	&__share-block {
		
		.caption {
			font-size: 18px;
			line-height: 27px;
			color: #000;
			font-weight: 400;
			margin-bottom: 10px;
		}
		
		
	}
	
	&__share-list {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		.item {
			width: 160px;
			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			
			color: #fff;
			font-size: 18px;
			line-height: 27px;
			
			border-radius: 3px;
			background-image: none;
			
			&:before {
				display: none;
			}
			
			.item-icon {
				height: 28px;
				
				flex-shrink: 0;
				margin-right: 10px;
				
				img {
					display: block;
					height: 100%;
					width: auto;
					
					backface-visibility: hidden;
				}
			}
			
			&.fb-item {
				background-color: #005aff;
			}
			
			&.inst-item {
				background-image: linear-gradient(to bottom right, rgb(255,0,252) 10%, rgb(255,136,48) 61%, rgb(255,191,17) 89%);

			}
			
			&.telegram-item {
				background-image: linear-gradient(to bottom right, rgb(16,90,239) 0%, rgb(3,151,252) 100%);

				.item-icon {
					height: 26px;
				}
			}
			
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	
	&__right {
		
		.logo-img {
			margin-left: auto;
			width: 190px;
			
			margin-bottom: 25px;
			
			img {
				display: block;
				max-width: 100%;
				height: auto;
				width: auto;
				
				backface-visibility: hidden;
			}
		}
		
		.company-descr {
			color: #000;
			font-size: 18px;
			line-height: 27px;
			
			font-weight: 400;
			font-style: italic;
			text-align: right;
			
			a {
				color: #000;
			}
			
			p {
				margin-bottom: 25px;
			}
		}
	}
	
	&__more-block {
		
		.caption {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 10px;
			color: #000;
		}
		
		.items-row {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	
	&__bottom-section {
		padding-top: 40px;
		padding-bottom: 60px;
		
		background-color: #f6f6f6;
		
		.links-row {
			margin-bottom: 40px;
			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			
			a {
				display: inline-block;
				
				margin-right: 20px;
				color: #000;
				
				font-size: 18px;
				line-height: 27px;
				font-weight: 400;
				
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	&__forum-banner {
		width: 100%;
		max-width: 315px;
		display: block;
		
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-color: @brand-color;
		background-position: top center;
		background-image: url("../img/banner-bg.jpg");
		
		padding-left: 35px;
		padding-right: 35px;
		padding-top: 30px;
		padding-bottom: 45px;
		
		.banner-logo {
			width: 69px;
			height: 77px;
			margin-bottom: 10px;
			
			img {
				display: block;
				width: 100%;
				height: 100%;
				
				backface-visibility: hidden;
			}
		}
		
		.banner-title {
			font-size: 30px;
			line-height: 36px;
			color: #fff;
			font-weight: 900;
			text-transform: uppercase;
			
			width: 110%;
			
			margin-bottom: 25px;
		}
		
		.banner-list {
			list-style: none;
			padding: 0;
			margin: 0;
			
			max-width: 200px;
			margin-bottom: 35px;
			
			li {
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				color: #fff;
				
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
		}
		
		.reg-btn {
			width: 100%;
			background-color: #fff;
			background-image: none;
			color: #000;
			
			&:before {
				display: none !important;
			}
			
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
	}
}

@media @mobile {
	.news-item {
		&__top {
			padding-top: 40px;
			padding-bottom: 50px;
		}
		
		&__top-nav {
			margin-bottom: 100px;
			
			ul {
				display: block;
				
				li:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}
		
		&__top-info {
			
		}
		
		&__name {
			font-size: 22px;
			line-height: 30px;
		}
		
		&__forum-banner {
			margin: 0 auto;
		}
		
		&__bottom-info {
			font-size: 16px;
			line-height: 20px;
		}
		
		&__arrow {
			display: none !important;
		}
		
		&__left {
			width: 100%;
			margin-bottom: 40px;
		}
		
		&__content {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			
			padding-top: 30px;
		}
		
		&__left-content {
			font-size: 14px;
			line-height: 20px;
			
		}
		
		&__right {
			width: 100%;
			
			
			.logo-img {
				width: 120px;
			}
			
			.company-descr {
				font-size: 14px;
				line-height: 20px;
			}
		}
		
		&__share-list {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			
			.item {
				
				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
		}
		
		&__bottom-section {
			padding-bottom: 40px;
			
			.links-row {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				
				a {
					
					&:not(:last-child) {
						margin-right: 0;
						margin-bottom: 15px;
					}
				}
			}
		}
		
		&__more-block {
			
			
			.items-row {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				
				> * {
					width: 100%;
				}
			}
		}
	}
}


@media @tablet {
	.news-item {
		.container {
			position: relative;
			width: 680px;
		}
		
		&__top {
			padding-top: 50px;
			height: 460px;
		}
		
		&__top-nav {
			margin-bottom: 60px;
			
			ul {
				li:not(:last-child) {
					margin-right: 35px;
				}
			}
		}
		&__top-info {
			position: absolute;
			bottom: 30px;
			left: 30px;
		}
		
		&__arrow {
			
			&.prev {
				left: -30px;
			}
			
			&.next {
				right: -30px;
			}
		}
		
		&__left {
			width: 68%;
		}
		
		&__left-content {
			font-size: 16px;
			line-height: 24px;
		}
		
		&__right {
			width: 27%;
			
			.company-descr {
				font-size: 16px;
				line-height: 24px;
			}
		}
		
		&__bottom-section {
			padding-bottom: 50px;
		}
		
		&__more-block {
			
			
			.items-row {
				
				> * {
					width: 31%;
				}
			}
		}
		
		&__forum-banner {
			padding-left: 20px;
			padding-right: 20px;
			
			.banner-title {
				width: 100%;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
}


@media @desktop {
	.news-item {
		
		.container {
			width: 1020px;
			position: relative;
		}
		
		&__top-info {
			position: absolute;
			bottom: 50px;
			left: 15px;
		}
		
		&__arrow {
			
			&.prev {
				left: -100px;
			}
			
			&.next {
				right: -100px;
			}
		}
		
		&__top {
			padding-top: 50px;
			height: 460px;
		}
		
		&__top-nav {
			margin-bottom: 40px;
			
			ul {
				li:not(:last-child) {
					margin-right: 35px;
				}
			}
		}
		
		&__left {
			width: 610px;
		}
		
		&__right {
			width: 310px;
		}
		
		&__bottom-section {
			padding-bottom: 70px;
		}
		
		&__more-block {
			
			
			.items-row {
				
				> * {
					width: 31%;
				}
			}
		}
	}
	
}








